body {
    font-family: 'Inter', sans-serif;
    background-color: #f5f5f5;
    overflow-x: hidden;
}

aside {
    border-radius: 10px;
    padding-bottom: 21rem;
    position: fixed;
}

.side-bar .nav .nav-item .nav-link {
    color: black;
    padding: 10px 27px;
}

.side-bar .nav .nav-item .nav-link:hover {
    color: #4154f1;
    background-color: #4153f12f;
    border-radius: 10px;
}

.side-bar .nav .nav-item .nav-link.active {
    color: #4154f1;
    background-color: #4153f12f;
    border-radius: 10px;
}

.filter-container {
    border-radius: 10px;
    position: fixed;
}

.search {
    position: fixed;
    top: 0;
    z-index: 50;
}


.search input[type=text]{
    background-color: #fff;
    width: 65.5rem;
    border-style: none;
    border-radius: 10px;
    padding: 10px 10px;
    color: black;
}

.search-icon {
    position: absolute;
    padding: 5px 20px;
    top: 5px;
    right: 10px; /* Jarak ikon dari sisi kanan */
    color: white;
    cursor: pointer;
    background: linear-gradient(to right, #4154f1, #25308b);
    border-radius: 10px;
}

.side-icon {
    color: #25308b;
}

.carousel {
    margin-top: 4rem;
}

.carousel-item img{
    border-radius: 10px;
}

.category .type1, .type2 {
    font-weight: medium;
    padding: 10px 10px;
    background: linear-gradient(to right, #4154f1, #25308b);
    width: 12rem;
    text-align: center;
    border-radius: 5px;
}

.category .type1 {
    background: linear-gradient(to right, #4154f1, #25308b);
}

.category .type1 a{
    color: white;
}

.category .type2 {
    background: linear-gradient(to right, #fec400, #ffd700);
}

a {
    text-decoration: none;
    color: black;
}

.product .product-card .card {
    width: 12.5rem;
    border-style: none;
}

.product .product-card .card .card-title {
    font-size: medium;
}

.product .product-card .card .card-body {
    font-size: small;
}

.product .product-card .card .btn {
    background-color: #2E3A8A;
    font-size: small;
}

.product .product-card .card img {
    width: 100%;
    height: 200px; /* Tentukan tinggi gambar */
    object-fit: cover; /* Atur agar gambar memenuhi ruang */
  }

.filter-icon {
    color: #25308b;
}

.filter-section .form-check {
    padding: 3px;
}

/* .filter-container {
    width: 250px;
} */

.filter-container .btn {
    text-align: center;

}

.btn-filter .btn {
    background-color: #2E3A8A;
    padding: 5px 50px;
    border-radius: 10px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.pagination a {
    text-decoration: none;
    color: #25308b;
    padding: 5px 15px;
    background-color: transparent;
    border: none;
}

.pagination .page-link:hover {
    background-color: #25308b;
    color: white;
}

.pagination .page-icon{
    margin-top: 5px;
}

.main {
    padding-left: 1.4rem;
}

.profile {
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
    font-size: small;
}

.icon-profile p {
    margin-left: 10px;
    background-color: #25308b;
    color: white;
    padding: 2px 5px;
    border-radius: 15px;
}

.profile-section img {
    width: 70px; 
    height: 70px; 
    object-fit: cover;
    overflow: hidden;
}

.review-card {
    background-color: white;
    padding: 1.5rem;
    border-radius: 10px;
    width: 47%;
    font-size: small;
}

.review-card img{
    border-radius: 10px;
}

.stars-icon {
    margin-left: 17rem;
}

.information {
    font-size: small;
}

.information-item h4{
    background-color: white;
    text-align: center;
    padding: 2rem 7rem;
    border-radius: 5px;
}

.summary {
    font-size: small;
}

.summary-item {
    margin-right: 1.5rem;
}

.summary-item h4{
    background-color: white;
    text-align: center;
    padding: 2rem 7rem;
    border-radius: 5px;
}

#myChart {
    padding: 5rem 7rem;
    background-color: white;
    border-radius: 10px;
}

/* Barang.html */

.breadcrumb {
    margin-top: 1.2rem;
}

.items-status h4{
    background-color: white;
    text-align: center;
    padding: 2rem 19rem;
    border-radius: 10px;
}

.items .button .btn {
    background-color: #4154F1;
    font-size: medium;
    border-radius: 10px;
}

.search-table input{
    padding: 6px 25px;
    border-radius: 10px;
    border-style: none;
}

.table .thead {
    background-color: #25308b;
}

.form-barang-lelang {
    background-color: white;
    padding: 4rem 5rem;
    border-radius: 10px;
}

.photo-upload {
    border: 2px dashed #ced4da;
    border-radius: 5px;
    text-align: center;
    padding: 2rem;
    color: #6c757d;
    margin-bottom: 0.7rem;
}

.ajukan .btn {
    background-color: #4154f1;
    padding: 8px 30px;
}